@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #06202a;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #06202a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
